<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Zygnis_Giftregistry>
            <version>0.1.0</version>
        </Zygnis_Giftregistry>
    </modules>
    <global>
        <models>
            <zygnis_giftregistry>
                <class>Zygnis_Giftregistry_Model</class>    
                <resourceModel>zygnis_giftregistry_mysql4</resourceModel>
            </zygnis_giftregistry>
            <zygnis_giftregistry_mysql4>
                <class>Zygnis_Giftregistry_Model_Mysql4</class>
                <entities>
                    <entity>
                        <table>zygnis_giftregistry_entity</table>
                    </entity>
                    <item>
                        <table>zygnis_giftregistry_item</table>
                    </item>
                    <type>
                        <table>zygnis_giftregistry_type</table>
                    </type>
                </entities>
            </zygnis_giftregistry_mysql4>
        </models>
        <blocks>
            <zygnis_giftregistry>
                <class>Zygnis_Giftregistry_Block</class>
            </zygnis_giftregistry>
        </blocks>
        <helpers>
            <zygnis_giftregistry>
                <class>Zygnis_Giftregistry_Helper</class>
            </zygnis_giftregistry>
        </helpers>
        <resources>
            <zygnis_giftregistry_setup>
                <setup>
                    <module>Zygnis_Giftregistry</module>
                    <class>Zygnis_Giftregistry_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zygnis_giftregistry_setup>
            <zygnis_giftregistry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zygnis_giftregistry_write>
            <zygnis_giftregistry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zygnis_giftregistry_read>
        </resources>
    </global>
    
    <frontend>
        <routers>
            <zygnis_giftregistry>
                <use>standard</use>
                <args>
                    <module>Zygnis_Giftregistry</module>
                    <frontName>giftregistry</frontName>
                </args>
            </zygnis_giftregistry>
        </routers>
        <layout>
            <updates>
                <zygnis_giftregistry module="zygnis_giftregistry">
                    <file>zygnis_giftregistry.xml</file>
                </zygnis_giftregistry>
            </updates>
        </layout>
    </frontend>
</config>